body {
  background-color: white;
}
input {
  width: 100%;
  background-color: white;
  border-style: none;
  border-width: 3px;
  border-color: white;
  color: green;
  font-size: 17.5px;
  margin-top: 5%;
  margin-bottom: 5%;
}
::placeholder {
  color: green;
}
.output {
  color: #ff7d00;
  font-size: 25px;
  height: 30%;
  border-width: 5px;
  border-color: black;
}
h2 {
  color: saddlebrown;
  text-align: center;
  font-size: 24px;
}
#version {
  margin-top: 7.5%;
   color: yellowgreen;
   text-align: center;
}
#cdprefix {
  background-color: black;;
  color: green;
}
#tip {
  text-align: center;
  margin-top: 5%;
  color: seagreen;
  font-family: monospace;
}
#console {
  overflow-y: auto;
  margin-bottom: 5%;
}
#htmlterminal {
  overflow-y: auto;
  height: 100px;
  border: 1px solid seagreen;
  visibility: hidden;
}